.back-header {
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 10px;
    background: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    border-radius: 0 0 15px 15px;
}

.back-btn {
    background: #f0f0f0;
    border: none;
    padding: 10px 13px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s ease;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.back-title {
    font-size: 20px;
    font-weight: 500;
    margin-left: 1rem;
}